/env
/sample_images
/data_images

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment related files
.env

# Logs and databases
*.log
*.sqlite
*.db

# Local development settings
instance/

# Compiled Python files
*.pyc
*.pyo

# IDE files
.vscode/
.idea/

# Dependency directories
venv/
env/
